footer
    p ©2024, A footer placeholder
    p
        a(href="#") Privacy Policy 
        a(href="#") Terms of Service
        a(href="#") Contact Us
    a(href="https://github.com/foufouboy")
        img(src="/assets/github.svg" alt="Github Link")